In [1]:
#Q1
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [2]:
driver=webdriver.Chrome(r"C:\Users\Rubia Banu\Desktop\chromedriver.exe")

In [3]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [5]:
rank=[]
name=[]
artist=[]
upload_date=[]
views=[]

In [6]:
for i in range(1):
    for j in driver.find_elements_by_xpath("//tbody/tr/td[1]"):
        rank.append(j.text)
    for k in driver.find_elements_by_xpath("//tbody/tr/td[2]"):
        name.append(k.text)
    for l in driver.find_elements_by_xpath("//tbody/tr/td[3]"):
        artist.append(l.text)
    for m in driver.find_elements_by_xpath("//tbody/tr/td[5]"):
        upload_date.append(m.text)
    for n in driver.find_elements_by_xpath("//tbody/tr/td[4]"):
        views.append(n.text)

In [7]:
import pandas as pd
youtube_details=pd.DataFrame({"Rank":rank[2:32],
                              "Name":name[2:32],
                              "Artist":artist[0:30],
                               "Upload_date":upload_date[0:30],
                               "Views":views[0:30]})

In [8]:
youtube_details

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.44
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.32
2,3.,"""Shape of You""[25]",Ed Sheeran,"January 30, 2017",5.29
3,4.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,"October 8, 2016",5.24
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.08
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.43
6,7.,"""Uptown Funk""[31]",Mark Ronson,"November 19, 2014",4.16
7,8.,"""Gangnam Style""[32]",Psy,"July 15, 2012",4.05
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[34]",Miroshka TV,"February 27, 2018",3.97
9,10.,"""Bath Song""[35]",Cocomelon – Nursery Rhymes,"May 2, 2018",3.95
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.78
11,12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.45
12,13.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.43
13,14.,"""Roar""[39]",Katy Perry,"September 5, 2013",3.34
14,15.,"""Dame Tu Cosita""[40]",El Chombo,"April 5, 2018",3.28
15,16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.27
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.24
17,18.,"""Dark Horse""[43]",Katy Perry,"February 20, 2014",3.05
18,19.,"""Faded""[44]",Alan Walker,"December 3, 2015",3.05
19,20.,"""Shake It Off""[45]",Taylor Swift,"August 18, 2014",3.05
20,21.,"""Lean On""[46]",Major Lazer Official,"March 22, 2015",3.02
21,22.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.01
22,23.,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",3.01
23,24.,"""Let Her Go""[49]",Passenger,"July 25, 2012",2.97
24,25.,"""Mi Gente""[50]",J Balvin,"June 29, 2017",2.90
25,26.,"""Wheels on the Bus""[51]",Cocomelon – Nursery Rhymes,"May 24, 2018",2.89
26,27.,"""Hello""[52]",Adele,"October 22, 2015",2.83
27,28.,"""Perfect""[53]",Ed Sheeran,"November 9, 2017",2.82
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,"June 4, 2010",2.80
29,30.,"""Axel F""[55]",Crazy Frog,"June 16, 2009",2.77

In [2]:
#Question 7

In [3]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [4]:
driver=webdriver.Chrome(r"C:\Users\Rubia Banu\Desktop\chromedriver.exe")
driver.get("https://www.naukri.com/")

In [5]:
button = driver.find_element_by_xpath("//a[@title='Search Recruiters']").get_attribute('href')
driver.get(button)

data=driver.find_element_by_class_name("sugInp")
data.send_keys("Data Science")

search_button=driver.find_element_by_id("qsbFormBtn")
search_button.click()

In [6]:
name=[]
designation=[]
company=[]
skills=[]
location=[]

In [7]:
start_page=0
end_page=5
for page in range(start_page,end_page+1): 
    nxt_button=driver.find_element_by_class_name("grayBtn")
    
    Name=driver.find_elements_by_xpath("//a[@class='ellipsis']/span")
    for i in Name:
        name.append(i.text)
name[0:5]

['Aakash Harit',
 'shravan Kumar Gaddam',
 'Talent Acquisition Executive',
 'Anik Agrawal',
 'MARSIAN Technologies LLP']

In [16]:
desg=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for i in desg:
        if i.text is None :
            designation.append("--") 
        else:
            designation.append(i.text)   
            
comp=driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]")
for i in comp:
    if i.text is None :
        company.append("--") 
    else:
        company.append(i.text)

loca=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for i in loca:
    if i.text is None :
        location.append("--") 
    else:
        location.append(i.text)

        
skil=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in skil:
    if i.text is None :
        skills.append("--") 
    else:
        skills.append(i.text)
        
if nxt_button.text=='next':
            nxt_button.click()
            time.sleep(5)

details=pd.DataFrame({"Name":name[0:100],"Designation":designation[0:100], "Company":company[0:100],"skills":skills[0:100],"Location":location[0:100]})

In [17]:
details

,Name,Designation,Company,skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
...,...,...,...,...,...
95,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Noida
96,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Delhi
97,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Hyderabad / Secunderabad
98,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Chandigarh
99,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Ahmedabad

In [18]:
#Question 9

In [19]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [20]:
driver=webdriver.Chrome(r"C:\Users\Rubia Banu\Desktop\chromedriver.exe")
driver.get("https://www.imdb.com/list/ls095964455/")

In [21]:
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

In [22]:
start=0
end=1
for page in range(start,end):
    name=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
    for i in name:
        Name.append(i.text)
    
    yr=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
    for i in yr:
        Year_span.append(i.text)
    
    gen=driver.find_elements_by_xpath("//span[@class='genre']")
    for i in gen:
        Genre.append(i.text)
    
    run=driver.find_elements_by_xpath("//span[@class='runtime']")
    for i in run:
        Run_time.append(i.text)
        
    rat=driver.find_elements_by_xpath("//div[@class='ipl-rating-widget']/div[1]/span[2]")
    for i in rat:
        Ratings.append(i.text)

        
    vot=driver.find_elements_by_xpath("//span[@name='nv']")
    for i in vot:
        Votes.append(i.text)

In [23]:
df=pd.DataFrame({'Name':Name[0:100],
                'Year':Year_span[0:100],
                'Genre':Genre[0:100],
                 'Ratings':Ratings[0:100],
                'Run_time':Run_time[0:100],
                'Votes':Votes[0:100]})

In [24]:
df

,Name,Year,Genre,Ratings,Run_time,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",9.3,57 min,"1,805,403"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",8.7,51 min,"850,001"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.2,44 min,"868,881"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",7.6,60 min,"260,587"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",7.6,43 min,"221,595"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",7.5,42 min,"44,268"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",7.8,50 min,"54,720"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",8.1,42 min,"165,830"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",7.2,45 min,"34,634"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",8.6,572 min,"188,679"